body{
    margin: 0;
    padding:0px
}

.app{
    display: flex;
}

/* 사이드바 */
ul,li{ 
    list-style: none;
    padding: 0px;
    margin: 7px 0px 0px 5px;
}

span{
    width: 200px;
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

button{
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: none;
}

.document__page{
    padding-left: 5px;
    width: 300px;
    min-width: 300px;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    overflow-y: scroll;
    white-space: nowrap;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0; /* 스크롤바의 색상 설정 */
    border-radius: 5px; /* 스크롤바의 둥글기 설정 */
  }
  

::-webkit-scrollbar-thumb:hover {
    background: #aeaeae; 
  }


.document__title{
    display: flex;
    justify-content: space-between
}

.document__title:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.hide{
    display: none;
}

.footer{
    width: 300px;
    border-top: 1px solid rgb(216, 216, 216);
    padding: 15px;
    margin-top: 15px;
    position: absolute;
    bottom: 0px;

}

/* 에디터 */
.title{
    font-size: 30px;
}

.title,.content{
    border-style: none;
    outline: none;
}
