.app {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

div.document-list {
  display: flex;
  position: relative;
  flex-direction: column;
}

.global-nav {
  background-color: #fbfbfa;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 240px;
  min-width: 240px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

.editor-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

input.editor-title {
  width: 60%;
  height: 80px;
  margin: 0 10px;
  border: none;
}

input.editor-title:focus {
  outline: none;
}

button {
  display: flex;
}

div.document {
  display: flex;
  overflow: hidden;
  overflow-x: hidden;
  max-width: 240px;
  padding: 2px 10px 2px 5px;
  margin: 1px 4;
}

textarea {
  display: flex;
  width: 60%;
  margin: 10px 10px;
  border: none;
  height: 100%;
}

.document-title {
  display: flex;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

button {
  background-color: transparent;
  border: 0;
  align-self: center;
}

button.remove-button {
  position: absolute;
  right: 10px;
}

.document > button.add-button {
  position: absolute;
  right: 45px;
}

.outliner > div.list {
  padding: 0 10px 0 19px;
  margin: 1px 0;
}

.editor-page {
  height: 100%;
}

.global-nav > .list {
  overflow-y: scroll;
}
/* 
.list {
  height: 100%;
} */

.root-button {
  margin: 1px 4px;
}

.outliner:hover {
  cursor: pointer;
  background-color: #eee;
}

.outliner > button:hover {
  background-color: #999999;
}
