.documentPage {
    background-color: #F7F7F5;
    width: 230px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    font-family: 'Pretandard-Regular', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #72716D;
    padding: 10px;
    padding-top:50px;
    position: relative;
    order: 0;
}

.doc{
    list-style: none;
    cursor:pointer;
    padding: 10px 0px;
    position:relative;
    width:100%;
}
.doc:hover{
    color: black;
}

[class^="doc-"]{
    display:flex;
}
[class^="root-"]{
    display:flex;
    position:relative;
    width:100%;
}
.createDoc{
    position:absolute;
    right: 0px;
    width: 10px;
    height: 20px;
    text-align: center;
    z-index:1;
}