.editor__h1 {
  padding: 0.5em 0;
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: bold;
}

.editor__h2 {
  padding: 0.5em 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.editor__h3 {
  padding: 0.5em 0;
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: bold;
}

.main__editor {
  position: relative;
}

.main__editor [contenteditable='true'] {
  line-height: 1.75em;
  word-break: break-all;
  white-space: pre-wrap;
  outline: none;
}

.main__editor [contenteditable='true']:empty:before {
  content: attr(placeholder);
  color: rgba(55, 53, 47, 0.5);
}

.main__title-editor {
  padding-top: 5rem;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.main__content-editor {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 1rem;
}
