.editor__h1 {
  padding: 0.5em 0;
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: bold;
}

.editor__h2 {
  padding: 0.5em 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.editor__h3 {
  padding: 0.5em 0;
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: bold;
}

.main__editor {
  position: relative;
}

.main__style-menu {
  position: absolute;
  fill: rgba(55, 53, 47, 0.35);
  color: rgb(55, 53, 47);
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
  z-index: 10;
  user-select: none;
}

.main__style-menu--list {
  display: flex;
}

.main__style-menu--list-item {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 0.7em;
  border-right: 2px solid #f4f4f4;
  cursor: pointer;
}

.main__style-menu--list-item:hover {
  background-color: rgb(239, 239, 239);
}

.main__style-menu--list-item:first-child {
  border-radius: 5px 0 0 5px;
}

.main__style-menu--list-item:last-child {
  border-radius: 0 5px 5px 0;
}

.main__text-style-menu {
  width: fit-content;
  position: absolute;
  fill: rgba(55, 53, 47, 0.35);
  color: rgb(55, 53, 47);
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
  z-index: 10;
  user-select: none;
}

.main__text-style-menu--list {
  display: flex;
  max-height: 20rem;
  overflow-y: auto;
  flex-direction: column;
  padding: 0.25em;
}

.main__text-style-menu--list-item {
  width: 10em;
  display: flex;
  align-items: center;
  padding: 0.2em;
  gap: 0.5em;
  cursor: pointer;
}

.main__text-style-menu--list-item:hover {
  background-color: rgb(239, 239, 239);
}

.main__text-style-menu--preview {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
  /* outline: 1px solid rgba(55, 53, 47, 0.3); */
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  text-align: center;
}

.main__text-style-menu--label {
  color: rgb(55, 53, 47);
}

.main__editor [contenteditable='true'] {
  line-height: 1.75em;
  word-break: break-all;
  white-space: pre-wrap;
  outline: none;
  transition: padding ease-out 0.15s;
}

.main__editor [contenteditable='true']:empty:before {
  content: attr(placeholder);
  color: rgba(55, 53, 47, 0.5);
}

.main__title-editor {
  padding-top: 5rem;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.main__content-editor {
  padding-top: 1rem;
  padding-bottom: 5rem;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: 1rem;
}

@media screen and (max-width: 120rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

@media screen and (max-width: 100rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media screen and (max-width: 80rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (max-width: 70rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 60rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media screen and (max-width: 50rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (max-width: 40rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 30rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 20rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
