@import './DocumentTreeRoot';
@import './DocumentTree';

.side-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfa;
}

.side-bar-header {
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: large;
  font-weight: 500;
}
