.sidebar {
  min-width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  fill: rgba(25, 23, 17, 0.6);
  color: rgba(25, 23, 17, 0.6);
  background-color: rgb(251, 251, 250);
  font-size: 0.9rem;
  position: fixed;
  height: 100%;
  overflow: hidden auto;
  user-select: none;
}

.editor [contenteditable="true"] {
  width: 100%;
  line-height: 1.75em;
  word-break: break-all;
  outline: none;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: rgba(55, 53, 47, 0.5);
}

.editor {
  width: calc(100% - 35em);
  margin: 5em 0 0 25em;
}

.title-editor {
  font-size: 2rem;
  font-weight: bold;
}

.content-editor {
  font-size: 1rem;
}

.document-svg, .trash-svg, .plus-svg  {
  width: 1em;
}

.chevron-right-svg {
  width: 0.5em;
}