.main {
  width: calc(100% - 18em);
  margin-left: 18em;
  margin-bottom: 5em;
}

.main__editor [contenteditable='true'] {
  transition: padding ease-out 0.15s;
}

.main__child-document-links {
  transition: margin ease-out 0.15s;
}

@media screen and (max-width: 120rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 25rem;
    padding-right: 25rem;
  }

  .main__child-document-links {
    margin-left: 25rem;
    margin-right: 25rem;
  }
}

@media screen and (max-width: 100rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .main__child-document-links {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

@media screen and (max-width: 80rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .main__child-document-links {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

@media screen and (max-width: 70rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .main__child-document-links {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 60rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .main__child-document-links {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media screen and (max-width: 50rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .main__child-document-links {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 40rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .main__child-document-links {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 30rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main__child-document-links {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 20rem) {
  .main__editor [contenteditable='true'] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main__child-document-links {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
