.sidebar {
  min-width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  fill: rgba(25, 23, 17, 0.6);
  color: rgba(25, 23, 17, 0.6);
  background-color: rgb(251, 251, 250);
  font-size: 0.9rem;
  overflow: hidden auto;
  user-select: none;
}

.title-editor {
  font-size: 2rem;
  font-weight: bold;
  width: 500px;
  border: 1px solid black;
}

.content-editor {
  width: 500px;
  border: 1px solid black;
}

.document-svg, .trash-svg, .plus-svg  {
  width: 1em;
}

.chevron-right-svg {
  width: 0.5em;
}