.sidebar {
  min-width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 251, 250);
  overflow: hidden auto;
}

.title-editor {
  font-size: 2rem;
  font-weight: bold;
  width: 500px;
  border: 1px solid black;
}

.content-editor {
  width: 500px;
  border: 1px solid black;
}

.document-svg, .trash-svg, .plus-svg {
  width: 16px;
  fill: rgb(55, 53, 47);
}