.main__navbar {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  gap: 0.5em;
  user-select: none;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.navbar__link-item {
  display: inline-block;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(55, 53, 47);
  border-radius: 5px;
  padding: 2px;
}

.navbar__link-item:hover {
  background-color: rgb(239, 239, 239);
}

.navbar__slash-item {
  color: rgba(55, 53, 47, 0.5);
}