.main__child-document-links {
  display: flex;
  flex-direction: column;
}

.child-document-links__link {
  display: flex;
  gap: 0.5em;
  padding: 0.25em 0.5em;
  fill: rgba(55, 53, 47, 0.5);
  color: rgb(55, 53, 47);
  transition: background-color 0.1s;
}

.child-document-links__link:hover {
  background-color: rgb(239, 239, 239);
}

.child-document-links__link--text {
  font-weight: 500;
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}
