.sidebar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
}

.sidebar__nav {
  flex-grow: 1;
  overflow: auto;
}

.sidebar__footer {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0.5em;
}

.sidebar__footer:hover {
  background-color: gray;
}

.sidebar__document-list {
  overflow: hidden;
  padding-inline-start: 0px;
}

.sidebar__document-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__document {
  display: flex;
  overflow: hidden;
  padding: 0.5em;
}

.sidebar__document:hover {
  background-color: gray;
}

.sidebar__document--title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.sidebar__document--action-section {
  display: flex;
  gap: 0.5em;
}