* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
    나눔고딕, 'Nanum Gothic', 'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 20;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: #37352f;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgray;
}

button {
  all: unset;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  background-color: #ebebea;
  cursor: pointer;
}
button:hover {
  background-color: #d9d9d9;
}

.side-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfa;
}

.side-bar-header {
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: large;
  font-weight: 500;
}

.document-tree-root {
  min-width: 240px;
  width: fit-content;
  flex-grow: 1;
  overflow-y: scroll;
}

.document-blob-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.document-blob-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.document-blob {
  min-width: 100%;
  width: fit-content;
  padding: 3px 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.document-blob-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.document-blob:hover {
  background-color: #ebebea;
  .document-blob-right {
    visibility: visible;
  }
}

.document-blob-btn {
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.document-blob-btn:hover {
  background-color: #d9d9d9;
}

.document-title {
  align-self: end;
}

.selected-document {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: FFFFFF;
  align-items: center;
  margin-left: 20px;
}

.document-header {
  display: flex;
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  margin: 20px 20px 0 20px;
}

.document-title {
  all: unset;
  flex-grow: 1;
  font-size: 40px;
  font-weight: 600;
}

.document-title::placeholder {
  color: #d9d9d9;
}

.preview-btn {
  margin-right: 40px;
}

.document-content {
  all: unset;
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  flex-grow: 1;
  margin: 20px 20px 0 20px;
}

.document-preview {
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  margin: 20px 20px 0 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

.document-preview > code {
  border-radius: 5px;
  background-color: #ebebea;
  color: red;
}

.sub-document-links {
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
}

.sub-document-link-btn {
  margin-left: 0;
}
