.body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  height: 50px;
  width: 100%;
  border: 1px solid #000;
}

.nav-bar a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.side-bar {
  width: fit-content;
  position: relative;
  padding: 20px 20px 20px 0px;
  border: 1px solid #000;
  overflow-y: scroll;
  float: left;
}

.main-content {
  flex: 1;
  flex-direction: column;
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid #000;
}

ul.doc-list {
  padding-left: 15px;
}

.doc-text:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #ccc;
  border-radius: 5px;
}

.doc-node-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  word-break: keep-all;
}

.editor {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  flex: 1;
}

.docNext {
  border: 1px solid red;
  height: fit-content;
  padding: 20px;
}

.make-document-button {
  border-radius: 4px;
  background: transparent;
  margin-left: 4px;

  width: fit-content;
  height: fit-content;

  font-size: 3px;
}

.make-document-button:hover {
  background-color: #ccc;
  transition: 0.3s;
  cursor: pointer;
}
