.nav-bar {
  height: 50px;
  width: 100%;
  border: 1px solid #000;
}

.nav-bar a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.side-bar {
  width: fit-content;
  position: relative;
  padding: 20px;
  border: 1px solid #000;
  float: left;
}

.main-content {
  flex: 1;
  flex-direction: column;
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid #000;
}

ul.doc-list {
  padding: 10px;
}

.editor {
  border: 1px solid #000;
  flex: 1;
}

.docNext {
  border: 1px solid red;
  height: fit-content;
  padding: 20px;
}
