body {
  margin: 0;
}

#app {
  display: flex;
}

.main {
  width: 100%;
  margin-left: 18em;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

::-webkit-scrollbar-track {
  background: #EDECE9;
}