body {
  margin: 0;
}

#app {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.document-svg,
.trash-svg,
.plus-svg {
  width: 1em;
}

.chevron-right-svg {
  width: 0.5em;
}

.chevron-down-svg {
  width: 0.75em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d3d1cb;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 172, 166);
}

::-webkit-scrollbar-track {
  background: #edece9;
}
