body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial";
}

#app {
  display: flex;
  height: 100%;
}

.notionPageContainer {
  width: 120px;
  background-color: #f1f1f1;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

.notionEditPageContainer {
  width: 100%;
  flex: 1;
  padding: 20px;
}

.notionList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notionList li {
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.notionList li:hover {
  background-color: rgba(220, 220, 220);
  cursor: pointer;
}

.notionList li:hover .btnContainer {
  visibility: visible;
}

.notionList li .btnContainer {
  visibility: hidden;
}

.notionList li .btnContainer button {
  width: 17px;
  height: 17px;
  font-size: 0.1px;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  border: none;
}

.notionList li .btnContainer button:hover {
  background-color: rgb(194, 194, 194);
}

.addNewRootNotion {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.addNewRootNotion:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.addNewRootNotion:active {
  transform: translateY(2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.notionEditPage,
.editor {
  width: 100%;
  height: 95%;
}

.editor input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
}

.editor input:hover {
  border-color: #aaa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.editor .content {
  width: 100%;
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.editor .content:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.editor .content:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
