.notion-sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 20px 0;
  border-right: 1px solid #f5f6f5;

  background-color: #fbfbfa;
}

.document-create-button {
  height: 30px;
  margin: 5px 10px;
}
